Repository dotnet/msbuild, pull requests merged in 2019-10, with the labels that each got.

#4764 Apply DependentUpon Convention Only to .resx Files
  src/Tasks.UnitTests/CreateCSharpManifestResourceName_Tests.cs
  src/Tasks/CreateManifestResourceName.cs
Labels: Area: Tasks, ask-mode

#4790 Unhandled exception when pipe to worker node closes suddenly
  eng/Versions.props
  src/Shared/NodeEndpointOutOfProcBase.cs
Labels: ask-mode

#4797 Fix CachingSdkResolverService concurrency.
  src/Build.UnitTests/BackEnd/SdkResolverService_Tests.cs
  src/Build/BackEnd/Components/SdkResolution/CachingSdkResolverService.cs
Labels: bug

#4830 Restore write-resource-to-text tests
  src/Directory.Build.targets
  src/Tasks.UnitTests/ResourceHandling/GenerateResource_Tests.cs
  src/Tasks/GenerateResource.cs
  src/Tasks/ResourceHandling/InputFormatNotSupportedException.cs
  src/Tasks/Resources/Strings.resx
  src/Tasks/Resources/xlf/Strings.cs.xlf
  src/Tasks/Resources/xlf/Strings.de.xlf
  src/Tasks/Resources/xlf/Strings.en.xlf
  src/Tasks/Resources/xlf/Strings.es.xlf
  src/Tasks/Resources/xlf/Strings.fr.xlf
  src/Tasks/Resources/xlf/Strings.it.xlf
  src/Tasks/Resources/xlf/Strings.ja.xlf
  src/Tasks/Resources/xlf/Strings.ko.xlf
  src/Tasks/Resources/xlf/Strings.pl.xlf
  src/Tasks/Resources/xlf/Strings.pt-BR.xlf
  src/Tasks/Resources/xlf/Strings.ru.xlf
  src/Tasks/Resources/xlf/Strings.tr.xlf
  src/Tasks/Resources/xlf/Strings.zh-Hans.xlf
  src/Tasks/Resources/xlf/Strings.zh-Hant.xlf
Labels: CoreCLR-test, Disabled-Tests
