Repository dotnet/msbuild, pull requests merged in 2019-08, with the labels that each got.

#4598 Fix warning when newline in hintpath
  src/Shared/UnitTests/FileUtilities_Tests.cs
  src/Tasks.UnitTests/HintPathResolver_Tests.cs
  src/Tasks/AssemblyDependency/HintPathResolver.cs
Labels: ask-mode

#4613 Yaml stages
  .vsts-dotnet.yml
Labels: tell-mode

#4617 Update System.Threading.Tasks.Dataflow to 4.9.0
  eng/Packages.props
  src/nuget/Microsoft.Build.nuspec
Labels: Approved to merge, ask-mode

#4597 Resource Naming DependentUpon Convention
  ref/Microsoft.Build.Tasks.Core/net/Microsoft.Build.Tasks.Core.cs
  ref/Microsoft.Build.Tasks.Core/netstandard/Microsoft.Build.Tasks.Core.cs
  src/Tasks.UnitTests/CreateCSharpManifestResourceName_Tests.cs
  src/Tasks/CreateCSharpManifestResourceName.cs
  src/Tasks/CreateManifestResourceName.cs
  src/Tasks/CreateVisualBasicManifestResourceName.cs
  src/Tasks/Microsoft.CSharp.CurrentVersion.targets
  src/Tasks/Microsoft.VisualBasic.CurrentVersion.targets
Labels: Approved to merge, ask-mode

#4461 Adding tracking of properties with relevant events.
  ref/Microsoft.Build.Framework/net/Microsoft.Build.Framework.cs
  ref/Microsoft.Build.Framework/netstandard/Microsoft.Build.Framework.cs
  src/Build.UnitTests/BuildEventArgsSerialization_Tests.cs
  src/Build.UnitTests/Evaluation/Evaluator_Tests.cs
  src/Build/BackEnd/Components/Logging/LoggingContext.cs
  src/Build/Definition/Project.cs
  src/Build/Evaluation/Evaluator.cs
  src/Build/Evaluation/IEvaluatorData.cs
  src/Build/Evaluation/LazyItemEvaluator.EvaluatorData.cs
  src/Build/Evaluation/PropertyTrackingEvaluatorDataWrapper.cs
  src/Build/Instance/ProjectInstance.cs
  src/Build/Logging/BinaryLogger/BinaryLogRecordKind.cs
  src/Build/Logging/BinaryLogger/BinaryLogger.cs
  src/Build/Logging/BinaryLogger/BuildEventArgsReader.cs
  src/Build/Logging/BinaryLogger/BuildEventArgsWriter.cs
  src/Build/Microsoft.Build.csproj
  src/Build/Resources/Strings.resx
  src/Build/Resources/xlf/Strings.cs.xlf
  src/Build/Resources/xlf/Strings.de.xlf
  src/Build/Resources/xlf/Strings.en.xlf
  src/Build/Resources/xlf/Strings.es.xlf
  src/Build/Resources/xlf/Strings.fr.xlf
  src/Build/Resources/xlf/Strings.it.xlf
  src/Build/Resources/xlf/Strings.ja.xlf
  src/Build/Resources/xlf/Strings.ko.xlf
  src/Build/Resources/xlf/Strings.pl.xlf
  src/Build/Resources/xlf/Strings.pt-BR.xlf
  src/Build/Resources/xlf/Strings.ru.xlf
  src/Build/Resources/xlf/Strings.tr.xlf
  src/Build/Resources/xlf/Strings.zh-Hans.xlf
  src/Build/Resources/xlf/Strings.zh-Hant.xlf
  src/Framework/EnvironmentVariableReadEventArgs.cs
  src/Framework/PropertyInitialValueSetEventArgs.cs
  src/Framework/PropertyReassignmentEventArgs.cs
  src/Framework/UninitializedPropertyReadEventArgs.cs
  src/Shared/Traits.cs
Labels: Approved to merge, ask-mode

#4612 Add new logger options functionality
  ref/Microsoft.Build/net/Microsoft.Build.cs
  ref/Microsoft.Build/netstandard/Microsoft.Build.cs
  src/Build/Logging/LoggerDescription.cs
  src/MSBuild.UnitTests/XMake_Tests.cs
  src/MSBuild/Resources/Strings.resx
  src/MSBuild/Resources/xlf/Strings.cs.xlf
  src/MSBuild/Resources/xlf/Strings.de.xlf
  src/MSBuild/Resources/xlf/Strings.en.xlf
  src/MSBuild/Resources/xlf/Strings.es.xlf
  src/MSBuild/Resources/xlf/Strings.fr.xlf
  src/MSBuild/Resources/xlf/Strings.it.xlf
  src/MSBuild/Resources/xlf/Strings.ja.xlf
  src/MSBuild/Resources/xlf/Strings.ko.xlf
  src/MSBuild/Resources/xlf/Strings.pl.xlf
  src/MSBuild/Resources/xlf/Strings.pt-BR.xlf
  src/MSBuild/Resources/xlf/Strings.ru.xlf
  src/MSBuild/Resources/xlf/Strings.tr.xlf
  src/MSBuild/Resources/xlf/Strings.zh-Hans.xlf
  src/MSBuild/Resources/xlf/Strings.zh-Hant.xlf
  src/MSBuild/XMake.cs
Labels: Approved to merge, ask-mode

#4607 ResXFileRef special cases
  src/Tasks/ResourceHandling/MSBuildResXReader.cs
Labels: .NET Core, Task: GenerateResource, ask-mode

#4588 StronglyTypedResourceBuilder output should be strongly typed
  src/Tasks.UnitTests/ResourceHandling/GenerateResource_Tests.cs
  src/Tasks.UnitTests/ResourceHandling/MSBuildResXReader_Tests.cs
  src/Tasks/GenerateResource.cs
  src/Tasks/Microsoft.Build.Tasks.csproj
  src/Tasks/ResourceHandling/BinaryFormatterByteArrayResource.cs
  src/Tasks/ResourceHandling/FileStreamResource.cs
  src/Tasks/ResourceHandling/IResource.cs
  src/Tasks/ResourceHandling/LiveObjectResource.cs
  src/Tasks/ResourceHandling/MSBuildResXReader.cs
  src/Tasks/ResourceHandling/NameUtilities.cs
  src/Tasks/ResourceHandling/StringResource.cs
  src/Tasks/ResourceHandling/TypeConverterByteArrayResource.cs
  src/Tasks/ResourceHandling/TypeConverterStringResource.cs
  src/Tasks/system.design/stronglytypedresourcebuilder.cs
Labels: Approved to merge, Task: GenerateResource, ask-mode

#4637 Support ResXNullRef in MSBuildResXReader
  src/Tasks.UnitTests/ResourceHandling/MSBuildResXReader_Tests.cs
  src/Tasks/ResourceHandling/MSBuildResXReader.cs
Labels: Approved to merge, Task: GenerateResource, ask-mode

#4638 Permissive string types
  src/Tasks.UnitTests/ResourceHandling/MSBuildResXReader_Tests.cs
  src/Tasks/ResourceHandling/MSBuildResXReader.cs
Labels: Approved to merge, Task: GenerateResource, ask-mode

#4644 Improve incremental behavior on MSB3822
  src/Tasks.UnitTests/ResourceHandling/GenerateResource_Tests.cs
  src/Tasks/GenerateResource.cs
Labels: .NET Core, Approved to merge, Task: GenerateResource, ask-mode

#4642 LogProjectImports no longer cached
  src/Build/Logging/BinaryLogger/BinaryLogger.cs
  src/MSBuild.UnitTests/Microsoft.Build.CommandLine.UnitTests.csproj
  src/MSBuild.UnitTests/XMake_Tests.cs
  src/Shared/Traits.cs
Labels: Approved to merge, ask-mode, regression
