Repository dotnet/msbuild, pull requests merged in 2020-01, with the labels that each got.

#5020 Log global properties in cache miss error
  src/Build/BackEnd/Components/Scheduler/Scheduler.cs
  src/Build/Resources/Strings.resx
  src/Build/Resources/xlf/Strings.cs.xlf
  src/Build/Resources/xlf/Strings.de.xlf
  src/Build/Resources/xlf/Strings.en.xlf
  src/Build/Resources/xlf/Strings.es.xlf
  src/Build/Resources/xlf/Strings.fr.xlf
  src/Build/Resources/xlf/Strings.it.xlf
  src/Build/Resources/xlf/Strings.ja.xlf
  src/Build/Resources/xlf/Strings.ko.xlf
  src/Build/Resources/xlf/Strings.pl.xlf
  src/Build/Resources/xlf/Strings.pt-BR.xlf
  src/Build/Resources/xlf/Strings.ru.xlf
  src/Build/Resources/xlf/Strings.tr.xlf
  src/Build/Resources/xlf/Strings.zh-Hans.xlf
  src/Build/Resources/xlf/Strings.zh-Hant.xlf
Labels: Area: Debuggability

#5070 Publish x64 Architecture Symbols
  eng/AfterSigning.targets
  src/MSBuild/MSBuild.csproj
Labels: Area: Our Own Build

#5045 Enable ResolveNonMSBuildProjectOutput on .NET Core
  ref/Microsoft.Build.Tasks.Core/netstandard/Microsoft.Build.Tasks.Core.cs
  src/Tasks.UnitTests/AssignProjectConfiguration_Tests.cs
  src/Tasks.UnitTests/Microsoft.Build.Tasks.UnitTests.csproj
  src/Tasks.UnitTests/ResolveNonMSBuildProjectOutput_Tests.cs
  src/Tasks/Microsoft.Build.Tasks.csproj
Labels: .NET Core, Area: Tasks
