Repository dotnet/msbuild, pull requests merged in 2024-08, with the labels that each got.

#10220 Use documented item group in FindInvalidProjectReferences
  src/Tasks/Microsoft.Common.CurrentVersion.targets
Labels: Area: Common Targets

#10464 [8.0.4xx] Fix serialization of TelemetryEventArgs data packets across MSBuild worker nodes
  eng/Versions.props
  src/Build.UnitTests/BuildEventArgsSerialization_Tests.cs
  src/Framework.UnitTests/CustomEventArgSerialization_Tests.cs
  src/Framework/TelemetryEventArgs.cs
Labels: Servicing-approved, do-not-merge

#10259 Wasm/WASI tasks spec
  documentation/specs/proposed/Wasm-tasks.md
  documentation/specs/proposed/wasmtask.wit
Labels: Area: Tasks

#10542 Renamed fix to Check Template
  template_feed/content/Microsoft.CheckTemplate/Check1.cs
Labels: Servicing-approved
